/* Container */
.container {
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
}

/* Logo */
.logo {
  color: white;
  font-size: 24px;
  font-weight: 600;
  flex-grow: 1;
}


.navigation-bar ul {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navigation-bar li {
  list-style: none;
}

.navigation-bar a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.navigation-bar a:hover {
  color: #5867c7;
}


.bar {
  display: none;
  cursor: pointer;
}

.bar i {
  font-size: 24px;
  color: white;
}


@media (max-width: 768px) {
  .navigation-bar {
    display: none;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: black;
    text-align: center;
    padding: 10px 0;
  }

  .navigation-bar ul {
    flex-direction: column;
    gap: 10px;
  }

  .bar {
    display: block; 
  }

  .navigation-bar.active {
    display: block;
  }
}
