#khmer{
    color: brown;

}
.k{
    text-align: center;
    width: 100%;
    border-collapse: collapse;

}
.k th,td{
    border: 2px solid blue;
    padding: 10px;
    font-weight:lighter;
}
.vi{
    color: rgba(255, 0, 0,0.6);
    background-color: rgba(0, 0, 0, 0.4);
}
div{
    width: 500px;
    height: 500px;
    background-color: red;
}
   
