*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 40px;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 30px;
    



}
.logo{
    color: white;
    font-size: 24px;
    font-weight: bold;

}
.nav-links{
    list-style: none;
    display:flex;
    gap: 20px;
}
.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    position: relative;
    padding-bottom: 5px;

}
.nav-links li a:hover {
    color: #00bcd4;
    text-decoration: underline;



    
}
.title-course{
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    

}
.card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: 0.3s;
}
.card img {
    height: 200px;
    width: 80%;
    object-fit: cover;
    transition: 0.3s;
}
.card-content {
    padding: 15px;

}
.card-content h3 {
    margin-bottom: 10px;
}
.card-content p {
    color: #555;
    font-size: 14px;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);



}
.card:hover img {
    transform: scale(1.05);
}

